html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  overflow: hidden;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  margin: 0;
  padding: 10px;
  background-color: #c8c8c8; }

p {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  text-decoration: underline;
  color: inherit; }

a:hover {
  font-weight: bold; }

/* Styles for phones */
.main-column {
  display: flex;
  flex-direction: column; }
  .main-column .top {
    border-bottom: 4px solid black; }
  .main-column .bottom {
    display: flex;
    flex-direction: row; }
  .main-column .bottom-center {
    background: #d6d6be;
    flex: 5;
    height: 100%;
    overflow-y: auto;
    padding: 0.5em; }
  .main-column .bottom-right {
    background: #c8c8c8;
    flex: 1; }

.adventure:hover {
  border-right: 4px solid gray; }

.adventure.selected {
  border-right: 4px solid black; }

.adventure {
  padding: 0.2em;
  margin: 0.2em;
  cursor: pointer; }
  .adventure .date {
    font-size: 10pt; }

.adventure-body .title {
  margin-left: 0.5em; }

.adventure-body .header {
  margin-left: 0.9em; }

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .images .image {
    margin: 0.8em;
    position: relative;
    flex: 1;
    min-width: 450px; }
    .images .image img {
      width: 100%;
      min-width: 450px;
      object-fit: contain; }

.caption {
  box-shadow: 0 0 5px 5px black;
  position: absolute;
  top: 0;
  left: 5px;
  background: black;
  opacity: 0.6;
  color: white;
  max-width: 70%;
  padding: 0.4em;
  margin-left: 0.2em;
  margin-top: 0.5em;
  font-size: 0.9em; }

.photo-dialog {
  z-index: 1000;
  position: absolute;
  transition: visibility 0s, opacity 0.25s linear; }
  .photo-dialog img {
    max-width: 80%; }
